@font-face{
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Black.ttf')
}

body {
  background-color: #222222;
  margin: 0;
  font-family: 'Gilroy';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
